html {
  height: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #DDDDDD;
  background-color: #222222;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body a {
  color: white;
}

.page-content {
  display: none;
  padding: 15px 1.5rem;
  margin-top: 115px;
  flex-grow: 5;
  background-color: #333333;
  z-index: 0;
}

.footer {
  background-color: #222222;
  padding: 15px 15px;
}

.footer-content {
  font-size: 0.8rem;
}

.footer-content a {
  color: #CCCCCC;
  padding-left: 1rem;
  padding-right: 1rem;
}


/* Dynamic NavBar */

.navbar {
  position: fixed;
  top: 0;
  display: none;
  flex-direction: row;
  width: calc(100% - 20px);
  padding: 15px 10px;
  background-color: #222222;
  z-index: 2;
}

.navbar a {
  color: #CCCCCC;
  text-decoration: none;
}

.nav-1 {
  display: flex;
  flex-direction: row;
}

.left {
  flex-grow: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pic-and-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.pic-and-title:hover {
  color: #FFFFFF;
}

.headshot {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  transition: all 0.2s linear;
}

.title {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 0 0 20px;
}

.name {
  font-size: 2rem;
  font-weight: bold;
}

.role {
  font-size: 1.5rem;
  font-weight:bold;
}

.menu-btn {
  display: none;
  width: 45px;
  height: 19px;
  background-color: #444444;
  border-radius: 8px;
  cursor: pointer;
  padding-top: 13px;
  padding-bottom: 13px;  
}

.menu-btn:hover {
  background-color: #555555;
}

.menu-line {
  width: 28px;
  height: 3px;
  background: #CCCCCC;
  margin: 0 auto 5px auto;
  transition: all 0.2s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}

.menu-btn.close .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.nav-2 {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  transition: all 0.3s ease-out;
  z-index: 1;
  background-color: #222222;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-grow: 5;
  transition: 0.4s;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 20px 0 0;
}

.nav-container a {
  text-decoration: none;
}

.red-btn {
  border-bottom: 4px solid #ad4444;
  background: linear-gradient(to top, #ad4444 50%, transparent 50%);
}

.yellow-btn {
  border-bottom: 4px solid #c7b24d;
  background: linear-gradient(to top, #c7b24d 50%, transparent 50%);
}

.green-btn {
  border-bottom: 4px solid #3e933f;
  background: linear-gradient(to top, #3e933f 50%, transparent 50%);
}

.blue-btn {
  border-bottom: 4px solid #4447ad;
  background: linear-gradient(to top, #4447ad 50%, transparent 50%);
}

.nav-btn {
  text-align: center;
  font-size: 1.3rem;
  padding: 0.6rem 1.5rem 0.5rem 1.5rem;
  background-size: 100% 200%;
  background-position: top left;
  transition: background .2s ease-out;
  margin: 0 0 0 4px;
}

.nav-btn:hover {
  color: #FFFFFF;
  background-position: bottom left;
}

.nav-btn.active {
  color: #FFFFFF;
  background-position: bottom left;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.social-btn {
  width: 35px;
  padding: 5px;
}

.social-btn svg {
  fill: #CCCCCC;
}

.social-btn svg:hover {
  fill: #FFFFFF;
}


