html {
  height: 100%;
}

body {
  font-family: 'Lexend', sans-serif;
  color: #DDDDDD;
  background-color: #222222;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222222;
  margin: 0;
  padding: 0;
  position: fixed;
  width: calc(100% - 40px);
  top: 0;
  transition: 0.4s;
  padding: 10px 20px;
}

.headshot {
  width: 90px;
  height: 90px;
  border-radius: 18%;
  transition: 0.4s;
}

.title {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

.title:hover {
  color: #FFFFFF;
}

.titletext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10px;
}

.name {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 3;
  transition: 0.4s;
  padding-right: 10px;
}

.nav-bar a {
  text-decoration: none;
  color: #DDDDDD;
}

.btn-1 {
  border-bottom: 4px solid #ad4444;
  background: linear-gradient(to top, #ad4444 50%, transparent 50%);
}

.btn-2 {
  border-bottom: 4px solid #c7b24d;
  background: linear-gradient(to top, #c7b24d 50%, transparent 50%);
}

.btn-3 {
  border-bottom: 4px solid #3e933f;
  background: linear-gradient(to top, #3e933f 50%, transparent 50%);
}

.btn-4 {
  border-bottom: 4px solid #4447ad;
  background: linear-gradient(to top, #4447ad 50%, transparent 50%);
}

.nav-button {
  text-align: center;
  font-size: 1.3rem;
  padding-top: 0.6rem;
  padding-bottom: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  background-size: 100% 200%;
  background-position: top left;
  transition: background .2s ease-out;

  margin-left: 4px;
}

.nav-button:hover {
  color: #FFFFFF;
  background-position: bottom left;
}

.active-btn {
  color: #FFFFFF;
  background-position: bottom left;
}

.social-buttons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.4s;

}

.social-btn {
  width: 30px;
  transition: 0.4s;
  margin: 6px;
}

.social-btn svg {
  fill: #DDDDDD;
  transition: 0.4s;
}

.social-btn svg:hover {
  fill: #78488e;
}

.page-content {
  padding: 15px 50px;
  margin-top: 115px;
  flex-grow: 5;
  background-color: #333333;
}

.page-content a {
  color: white;
}

.footer {
  background-color: #222222;
  padding: 15px 30px;
}

.footer-content {
  font-size: 0.8rem;
}

.footer-content a {
  color: #CCCCCC;
  padding-left: 1rem;
  padding-right: 1rem;
}