.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.project {
  width: calc(100%-3rem);
  background-color: #444444;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.details {
  width: 45%;
  font-size: 0.9rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  flex: 1 1 300px;
}

.project h1 {
  margin: 0;
  padding: 0px;
  margin-bottom: 0.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0rem;
  font-size: 1rem;
}

.links a {
  text-decoration: none;
}

.link {
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 4px;
  border-bottom: 2px solid #c7b24d;
  background: linear-gradient(to top, #c7b24d 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top left;
  transition: background .2s ease-out;
}

.link:hover {
  color: #FFFFFF;
  background-position: bottom left;
}

.screen {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 300px;
}

.proj-screenshot {
  width: 98%;
}

.tech-stack {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 8px;
}


.tech-stack-item {
  background-color: #CCCCCC;
  color: #111111;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tech-stack-item svg {
  fill: black;
  margin-right: 6px;
  height: 1.5rem;
}

.tech-stack-item:hover {
  background-color: #FFFFFF;
}